<script src="${pageContext.request.contextPath}/resources/front/js/jquery-3.3.1.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/jquery-ui.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/popper.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/bootstrap.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/owl.carousel.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/jquery.magnific-popup.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/aos.js"></script>
<script src="${pageContext.request.contextPath}/resources/front/js/main.js"></script>